html {
  background-image: url("/src/img/background.png");
  background-repeat: vertical;
  background-size: cover;
  text-align: center;
  line-height: 300px;
}

img {
  width: 300px;
  height: auto;
}

/* #left-box {
  background-color: rgb(228, 228, 228);
}

#right-box {
  background-color: rgb(203, 187, 165);
} */

#main-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  height: 800px !important;
  width: 800px !important;
  background-color: rgb(166, 213, 213);
  box-shadow: 3px 3px 3px 3px rgb(114, 114, 114);
}

.project-tile {
  margin: 30px;
}