::-webkit-scrollbar {
  display: none;
}

* {
  cursor: none;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

html {
  background-image: url("./components/img/starry2.gif");
  color: rgba(255, 255, 255, 0.8);
  scroll-behavior: smooth !important;
}

h1 {
  text-align: left;
  font-size: 3.5vw;
  margin: 25px 0px 0px 37px;
}

h2 {
  text-align: center;
  font-size: 2vw;
}

p {
  text-align: center;
  font-size: 1vw;
}

ul {
  list-style-type: none;
}

img {
  object-fit: scale-down;
}

li:hover {
  color: rgb(143, 143, 143);
}

a:visited,
a:link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.text-div {
  margin: auto;
  padding: 2vw;
}


/* CURSOR STUFFS */

.cursor {
  /* background-color: rgba(255, 255, 255, 0.8); */
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

#invader {
  width: 20px;
  height: 20px;
  opacity: .8;
}

/* END CURSOR STUFFS */

.nav-sel {
  margin: .9vh;
  font-size: 3vh;
  font-family: 'Nova Square', cursive;
}

.project-img {
  width: 300px;
  height: auto;
  margin: auto;
}

.center {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  margin: auto;
}


.contact-icon {
  height: 4vw;
  width: 4vh;
}

.grid-item-1 {
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}

.grid-item-2 {
  width: 100%;
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}

.grid-item-3 {
  width: 100%;
  height: 100%;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
}

.grid-item-4 {
  width: 100%;
  height: 100%;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 2;
}

#home {
  font-size: 20vh;
  font-weight: 700;
  margin: auto;
}

#contact-list {
  font-size: 10vh;
}

#content {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid white;
  height: 90%;
  width: 93%;
  display: grid;
  gap: 10px;
  column-gap: 20px;
  grid-template-columns: 15vw auto 5vw;
  grid-template-rows: 10vh auto 10vh;
}

#header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

#nav {
  width: 100px;
  padding-top: 3vh;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
}

#projects {
  display: grid;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

#about {
  display: grid;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

/* add "only screen and" */
@media (max-width: 1440px) {

  h2 {
    text-align: center;
    font-size: 6vw;
  }

  li {
    display: inline !important;
  }

  img {
    height: auto !important;
    width: 100% !important;
  }

  .contact-icon {
    height: 13vw !important;
    width: 13vw !important;
  }

  .cursor {
    height: 48px !important;
    width: 48px !important;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .text {
    font-size: 4vw;
  }

  .nav-sel {
    font-size: 5.5vw !important;
    margin: .9vh;
  }

  .contact-tile {
    margin: 10vh 1vw 10vh 1vw;
  }

  #nav {
    width: 100px;
    padding-top: 3vh;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #home {
    -webkit-transform: rotate(90deg);
  }

  #name {
    -webkit-transform: rotate(-90deg);
    font-size: 3.5vw !important;
    display: none;
  }

  #content {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    margin: auto;
    padding-right: 2vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid white;
    height: 97%;
    width: 94%;
    display: grid;
    grid-template-columns: 1.25vh auto;
    grid-template-rows: 7vh auto 1.25vh;
    gap: 0px;
    column-gap: 0px;
  }

  #header {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  #invader {
    width: 96px;
    height: 96px;
    opacity: .8;
  }

  #about,
  #projects {
    display: inline;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 1vh 1vw 0vh 0vw !important;
  }
}